@import 'Styles/colors.scss';

h1, h2, h3, h4, h5, h6, p {
	color: $text-color;
}

.btn-tulip-large-primary a {
	background-color: $tint-color;
	color: white;
	border-radius: 8px;
	padding: 14px 65pt;
	text-decoration: none;

	&:hover {
		color: white;
	}

}