@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';
@import 'Styles/colors.scss';

.video-wrapper {
	@include media-breakpoint-down(md) {
		height: 70%;
	}
}

.btn.btn-primary.service-button {
	@include buttons;
	background-color: unset;
	border: none;

	&:hover {
		background-color: unset;
		border: none;
	}
}

.toggle-modal-button.btn.btn-outline-primary{
	@include buttons;
	box-shadow: none;
}

.btn.btn-primary.service-button:focus {
	box-shadow: 0 0 0 0.2rem $blue-color;
}

.close-sidebar-button,
.task-wrapper span svg{
	cursor: pointer;
}

.sidebar-button.btn.btn-outline-primary {
	@include buttons;
	right: 0;
}

.map-wrapper {
	z-index: 2;
}

.tasks-wrapper span,
.toggle-modal-button,
.tasks-wrapper {
	z-index: 3;
	position: relative;
}

.sidebar {
	z-index: 4;
}

.tasks-wrapper span{
	color: white;
}

.task-buttons-wrapper {
	right: 0.5rem
}

.task-wrapper {
	background-color: rgba(0,0,0, 0.2);
}

.radio-wrapper,
.radio-wrapper > input {
	position: absolute !important;
	width: 100%;
	height: 100%;
	padding: 0 !important;
}

.radio-wrapper {
	top: 0;
	left: 0;
}

.selected-service {
	box-shadow: 0 0 0 0.2rem #4674ff;
}