@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';
@import 'Styles/colors.scss';

.video-wrapper {
	@include media-breakpoint-down(md) {
		height: 70%;
	}
}

.btn.btn-primary.service-button {
	@include buttons;
	background-color: unset;
	border: none;

	&:hover {
		background-color: unset;
		border: none;
	}
}

.toggle-modal-button.btn.btn-outline-primary{
	@include buttons;
	box-shadow: none;
}

.btn.btn-primary.service-button:focus,
.selected-service {
	box-shadow: 0 0 0 0.2rem #80bdff;
	border-color: #80bdff;
	outline: 0;
}

.close-sidebar-button,
.task-wrapper span svg{
	cursor: pointer;
}

.sidebar-button.btn.btn-outline-primary {
	@include buttons;
	right: 0;
}

.map-wrapper {
	z-index: 2;
}

.tasks-wrapper span,
.toggle-modal-button,
.tasks-wrapper {
	z-index: 3;
	position: relative;
}

.sidebar {
	z-index: 4;
}

.tasks-wrapper span{
	color: white;
	font-size: 14px;
}

.task-buttons-wrapper {
	right: 0.5rem
}

.task-wrapper {
	background-color: rgba(0,0,0, 0.2);
}

.radio-wrapper,
.radio-wrapper > input {
	position: absolute !important;
	width: 100%;
	height: 100%;
	padding: 0 !important;
}

.radio-wrapper {
	top: 0;
	left: 0;
}

.services-wrapper {
	background-color: #fff;
	border: 1px solid #ced4da;
	padding-right: calc(1.5em + .75rem);
	border-radius: .25rem;
	background-repeat: no-repeat;
	background-position: right calc(.375em + .1875rem) center;
	background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}
.services-wrapper.invalid {
	border-color: #dc3545;
}