@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';
@import 'Styles/colors.scss';

.video-wrapper {
	@include media-breakpoint-down(md) {
		height: 70%;
	}
}

.btn.btn-primary.service-button {
	@include buttons;
	background-color: unset;
	border: none;

	&:hover {
		background-color: unset;
		border: none;
	}
}

.toggle-modal-button.btn.btn-outline-primary{
	@include buttons;
	box-shadow: none;
}

.btn.btn-primary.service-button:focus {
	box-shadow: 0 0 0 0.2rem $blue-color;
}

.close-sidebar-button {
	cursor: pointer;
}

.sidebar-button.btn.btn-outline-primary {
	@include buttons;
	right: 0;
}

.map-wrapper {
	z-index: 2;
}

.tasks-wrapper span,
.toggle-modal-button {
	z-index: 3;
	position: relative;
}

.sidebar {
	z-index: 4;
}

.tasks-wrapper span{
	color: white;
}